@charset "UTF-8";
/* CSS Document */
#info_bar_item
{
	display:inline;
	line-height:20px;
}

#nav_item
{
	line-height:70px;
	height:70px;
	width:120px;
	background-color:#76B4FF;
}
#div_logo
{
	height:70px;
	line-height:70px;
	float:left;
	width:auto;
}
#img_logo
{
	height:70px;
	width:auto;
}
